$body-bg: #0E1015;
$title-col: #F8FAFC;
$profile-bg: #1A232C;
$txt-col: #D8D8D8;
$sub-title-col: #F8FAFC;
$services-txt-col:#D3D3D3;
$item-title-col: #E2E2E2;
$more-col: #838383;
$highlight-col: #399CA1;
$highlight-dark-col: #30898E;
$btn-hightlight-col: rgba(61, 80, 99, 0.2);

$left-panel-width: 310px;
$right-panel-width: 380px;
$margin-between: 20px;
$full-width: $left-panel-width + $right-panel-width + $margin-between;

@font-face {
  font-family: 'Playfair Display';
  font-weight: 800;
  src: url(../assets/fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: url(../assets/fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url(../assets/fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}

@mixin limit-text-line($line-num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line-num; /* number of lines to show */
  -webkit-box-orient: vertical;
}

html,body {
  background-color: $body-bg;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', serif;
  font-weight: 300;
  color: $txt-col;

}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 16px auto;

  h1 {
    font-size: 1.25em;
    margin: 0;
    color: $title-col;
    font-family: 'Playfair Display', serif;
  }

  .theme-icon {
    width: 1em;
    height: 1em;
  }
}


@media only screen and (max-width: $full-width) {
  main {
    grid-template-columns: 1fr !important;
    max-width: 90% !important;
    min-width: $left-panel-width;
  }

  .filler {
    display: none;
  }
}

.filler {
  height: auto;
}

main {
  color: $title-col;
  max-width: $full-width;
  margin: 16px auto;
  display: grid;
  grid-template-columns: 0.82fr 1fr;
  grid-gap: 1em;
  
  .left-panel {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr 0.1fr;
    grid-gap: 1em;
  }

  .right-panel {
    display: grid;
    grid-template-rows: repeat(auto-fit, auto);
    grid-gap: 1em;
  }

}

.container {
  background-color: $profile-bg;
  padding: 16px 24px;
  border-radius: 6px;
}

.container-plus {
  @extend .container;
  padding-bottom: 24px;
  padding-top: 24px;

}

.title-style {
  font-weight: 500;
  font-size: 1.20em;
  color: $sub-title-col;
  line-height: 1.67em;
  text-transform: capitalize;
}

.title-style-plus {
  @extend .title-style;
  // margin-top: 2px;
  margin-bottom: 12px;
}

.sub-text-style {
  font-size: 0.74em;
  color: $services-txt-col;
  text-align: center;
  text-transform: capitalize;
}

a {
  text-decoration: none; 
}

.more-button {
  color: $more-col;
  font-size: 0.89em;
  font-weight: 500;
  margin: 0px auto;
  text-decoration: line-through;
  text-transform: capitalize;
}

@media only screen and (max-width: $full-width) {

  .author-profile {
    flex-direction: row !important;

    .author-info {
      text-align: left !important;
      margin: auto 26px !important;
    }
  }
}

.author-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @extend .container;
  
  .author-img {
    border-radius: 50% !important;
    overflow: hidden;
    width: 82px;
    height: 82px;
  }

  .author-info {
    margin-top: 8px;
    text-align: center;

    .author-name {
      @extend .title-style;
    }

    .author-status {
      font-size: 0.86em;
      color: $txt-col;
    }

    .author-contact {
      font-size: 0.82em;
      color: $txt-col;
      text-decoration: underline;

    }

    .author-contact:hover {
      color: $highlight-dark-col;

    }

  }
}

.services {
  @extend .container-plus;
  text-transform: capitalize;
  
  .services-title {
    @extend .title-style-plus;
  }

  .services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 1em;

    .services-type {
      padding: 8px;
      border-radius: 4px;
    
      .services-type-img {
        width: 36px;
        height: 36px;
        margin: 12px auto 5px;
      }
  
      .services-type-name {
        @extend .sub-text-style;
      }
  
    }

  }

}

.socials {
  @extend .container-plus;

  .socials-title {
    @extend .title-style-plus;
  }

  .socials-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    margin: auto 0;

    .socials-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border-radius: 2px;
      
      .socials-type-img {
      }
  
      .socials-type-name {
        @extend .sub-text-style;
      }
      
    }
  
    .socials-type:hover {
      background-color: $btn-hightlight-col !important;
    }
  }
}

.showcase {
  @extend .container-plus;
  display: flex;
  flex-direction: column;

  .showcase-title {
    @extend .title-style-plus;
  }

  .showcase-container {
    margin-bottom: 8px;

    .showcase-type {
      display: flex;
      flex-direction: row;
      margin-bottom: 16px;
      justify-content: space-between;

      .showcase-type-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .showcase-type-title{
          font-size: 0.95em;
          font-weight: 400;
          color: $item-title-col;
          text-transform: capitalize;
          margin-top: auto;
          margin-bottom: auto;
          @include limit-text-line(1); 
        }
    
        .showcase-type-desc {
          font-size: 0.82em;
          color: $txt-col;
          @include limit-text-line(2);
          margin-right: 6px;
          margin-top: auto;
          margin-bottom: auto;
        }
  
      }

      .showcase-type-info:hover .showcase-type-title {
        color: $highlight-col !important;
      }
  
      .showcase-type-info:hover .showcase-type-desc {
        color: $highlight-dark-col !important;
      }
  
      .showcase-type-links {
        width: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
  
        .showcase-type-links-1 {
          height: 24px;
          width: 24px;
          padding: 6px;
          text-align: center;
          border-radius: 50%;

        }
        .showcase-type-links-1:hover {
          background-color: $btn-hightlight-col;
        }
  
        .showcase-type-links-2 {
          height: 24px;
          width: 24px;
          padding: 4px;
          border-radius: 10%;
          text-align: center;

        }

        .showcase-type-links-2:hover {
          background-color: $btn-hightlight-col;
        }
  
  
      }

    }

  

  }

  .showcase-more {
    @extend .more-button;
  }

}


.updates {
  @extend .container-plus;
  display: flex;
  flex-direction: column;


  .updates-title {
    @extend .title-style-plus;
  }

  .updates-container {
    margin-bottom: 8px;

    .updates-type {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;

      .updates-type-info {

        .updates-type-date {
          font-weight: 300;
          color: $txt-col;
          font-size: 0.67em;
          margin-bottom: 4px;
        }
  
        .updates-type-title{
          font-size: 0.90em;
          font-weight: 400;
          color: $item-title-col;
          @include limit-text-line(2);
        }
    
        .updates-type-desc {
          margin-top: 2px;
          font-size: 0.82em;
          color: $txt-col;
          @include limit-text-line(1);
        }
  
      }

    }

    .updates-type:hover .updates-type-date {
      color: $highlight-dark-col  !important;
    }

    .updates-type:hover .updates-type-title {
      color: $highlight-col !important;
    }

    .updates-type:hover .updates-type-desc {
      color: $highlight-dark-col !important;
    }

  }

  .updates-more {
    @extend .more-button;
  }

}

footer {
  text-align: center;
  font-size: 0.82em;
  color: $more-col;
  font-weight: 500;
  margin-bottom: 16px;

}